WeatherInfoDisplay {
    layout: horizontal;
    min-width: 50;
    padding: 1;
    height: 5;
}

#locationLabel {
    color: rgb(1, 158, 22);
    background: red;

    min-width: 20vw;
    min-height: 20vh;

    max-width: 20vw;
    max-height: 20vh;
}