#app-grid {
    layout: grid;
    grid-size: 2 1;

    background: green;
}

#left-side-container {
    background: blue;
}

#right-side-container {}

#locationLabel {
    color: rgb(1, 158, 22);

    width: 100%;
    height: 100%;
}